* {
	padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;
	}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 600px;
    border: 3px solid grey;
    padding-bottom: 30px;
}

.cardHeader{
    margin-left: 0;
    background-color: #18a1b6;
    height: 85px;
    width: 600px;
}

.user{
    background-color: white;
    border-radius: 50%;
    border: 3px solid white;
    height: 100px;
    margin-left: 40px;
    margin-top: 35px;
}

.cardInfo{
    padding-left: 40px;
    margin-top: 60px;
}

h1{
    margin-bottom: 10px;
}
.location{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 15px;
}
.pin, .gear{
    height: 20px;
    margin-right: 10px;
    
}

.editProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}

a{
    color: #286dcf;
}
/* Code by @Kenniche*/